html, body {
    height: 100%;
}

.banner {
    height : 70%;
    position: relative;
    border-radius: 0px;
    background-image: url(../img/main-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    transform: translate3d(0px, 0px, 0px);
}
.topics {
    height: 30%;
}

.topics .card {
    height: 100%;
    text-align: center;
}

.banner .content {
    padding: 25px;
    position: absolute;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    bottom: 0px;
}

.banner .title, .card-title {
    text-transform: uppercase;
}

.banner .tag {
    text-align: center;
}

section {
    height:100vh;
}

.navbar {
    z-index: 1040;
}
.side-nav {
    position: fixed;
    width: 400px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

.side-nav-right {
    right: -400px;
}

.side-nav-open {
	right: 0px;
}
/* Transitions */
.side-nav,
.side-nav-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}



.double-nav .breadcrumb-dn p {
  color: #fff;
}

@media (min-width: 1200px){
.fixed-sn main {
  margin-left: 20% !important;
  margin-right: 20% !important;
}
}

.content {
    min-height: 100vh;
    height: auto;
    transition: all 0.2s ease-in-out;
  }
  
  .button-collapse {
   position: fixed;
   left: 10px;
   top: 10px;
   z-index: 10; 
  }
  header, section {
    padding: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 15px;
    color: #000;
  }
  @media(min-width: 1440px) {
    .content {
      padding-left: 250px;
    }
  }
  @media(max-width: 720px) {
    .main-header {
      font-size: 260%;
    }
  }
  